body {
  --light-color: darkorange;
  --dark-color: #333;
}
body {
  background-color: var(--dark-color);
}
#bottom-menu {
  position: fixed;
  bottom: 2em;
  right: 2em;
  overflow: hidden;
}

#bottom-menu a {
  background-color: var(--light-color);
  display: block;
  width: 3em;
  height: 3em;
  margin-bottom: 0.2em;
  border-radius: 100%;
  transform: translateY(9.5em);
  transition: 0.7s;
  position: relative;
  color: var(--dark-color);
  overflow: hidden;
  text-align: center;
}
#bottom-menu a i {
  margin-top: 1em;
}
#bottom-menu li:last-child a {
  margin-bottom: 0;
}
#bottom-menu:target a {
  transform: translateY(0);
  transition: 0.7s;
}
#bottom-menu::after {
  content: "";
  width: 3em;
  height: 3em;
  border-radius: 100%;
  background-color: transparent;
  display: block;
  position: fixed;
  z-index: -1;
  bottom: 33px;
  animation: wave 5s ease-in infinite 0.8s;
}
#bottom-menu:target::after {
  display: none;
}

@keyframes wave {
  0% {
    box-shadow: 0px 0px 0 2px #f2960d, 0 0 0 0 var(--dark-color);
  }
  2% {
    box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 6px #e69419;
  }

  4% {
    box-shadow: 0 0 0 6px var(--dark-color), 0 0 0 8px #d99126;
  }

  6% {
    box-shadow: 0 0 0 8px var(--dark-color), 0 0 0 10px #cc8f33;
  }
  8% {
    box-shadow: 0 0 0 10px var(--dark-color), 0 0 0 12px #bf8c40;
  }
  10% {
    box-shadow: 0 0 0 12px var(--dark-color), 0 0 0 14px #b38a4d;
  }
  12% {
    box-shadow: 0 0 0 14px var(--dark-color), 0 0 0 16px #a68759;
  }
  14% {
    box-shadow: 0 0 0 16px var(--dark-color), 0 0 0 18px #998566;
  }
  16% {
    box-shadow: 0 0 0 18px var(--dark-color), 0 0 0 20px #8c8273cf;
  }
  18% {
    box-shadow: 0 0 0 20px var(--dark-color), 0 0 0 22px #80808071;
  }
  20% {
    box-shadow: 0 0 0 22px var(--dark-color), 0 0 5px 24px #333;
  }
  100% {
    box-shadow: 0 0 0 0 var(--dark-color), 0 0 0 0 var(--dark-color);
  }
}

.message,
.messenger,
.viber,
.telegram {
  background-color: var(--light-color);
  position: absolute;
  left: 1em;
}
.message {
  animation: message 12s steps(1) infinite;
}

@keyframes message {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
.messenger {
  animation: messenger 12s steps(1) infinite;
  animation-delay: 3s;
}
@keyframes messenger {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.viber {
  animation: viber 12s steps(1) infinite;
  animation-delay: 6s;
}
@keyframes viber {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.telegram {
  animation: telegram 12s steps(1) infinite;
  animation-delay: 9s;
}
@keyframes telegram {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
